asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938191468/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119240032/work
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643940930/work
cycler @ file:///C:/Users/task_176606795187315/croot/cycler_1766068055927/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421657701/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249812/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061250618/work
fonttools @ file:///C:/miniconda3/conda-bld/fonttools_1765445233180/work
ipykernel @ file:///C:/Users/task_177261243624985/croot/ipykernel_1772612530162/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1762789323276/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
joblib @ file:///C:/Users/task_176786803344065/croot/joblib_1767868150240/work
jupyter_client @ file:///C:/Users/task_176839910354009/croot/jupyter_client_1768399225952/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588344213/work
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159382796/work
matplotlib==3.10.8
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779272071/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592920106/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593150425/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165733453/work
numpy @ file:///C:/Users/task_177073259140189/croot/numpy_and_numpy_base_1770732696798/work/dist/numpy-2.4.2-cp311-cp311-win_amd64.whl#sha256=db7e8eac1b8d29cb8580c8a9b097383a4d0e771e0a7ae4913ad05951f457f2cd
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332399011/work/dist/pandas-2.3.3-cp311-cp311-win_amd64.whl#sha256=6a3251bc4b4b7b67e557583d27c46e59dd38a774af7276284aaf0d4b219ca605
parso @ file:///C:/miniconda3/conda-bld/parso_1762781926029/work
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356607961/work
polars @ file:///C:/miniconda3/conda-bld/polars-split_1762422904695/work
polars-runtime-32 @ file:///C:/miniconda3/conda-bld/polars-split_1762422904695/work/polars-runtime-32
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745034319/work
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896536656/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067065603/work
pyarrow @ file:///C:/Users/task_177193727246472/croot/pyarrow_1771937464835/work/python
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425708/work
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973807786/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375608224/work
scikit-learn @ file:///C:/b/abs_45qemhn4lg/croot/scikit-learn_1753427401078/work
scipy @ file:///C:/Users/task_177149185429979/croot/scipy_1771491964975/work/dist/scipy-1.17.0-cp311-cp311-win_amd64.whl#sha256=718121b8103f1e3fccd8e8f17a37e75d42c9ecd9a11d41fb3c5637ac7db522e8
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067061065/work
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361787888/work
tornado @ file:///C:/Users/task_176599274942531/croot/tornado_1765992874871/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
wcwidth @ file:///C:/Users/task_176777899121830/croot/wcwidth_1767779217471/work
